* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background: #D3D6DB;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 28% 55% 17%;
}

#left-top-left {
    grid-column: 1 / 2;
    padding: 40px;
}

#square {
    width: 25px;
    height: 25px;
    background: #000;
    rotate: 45deg;
}

#left-top-right {
    grid-column: 2 / 3;
    justify-items: end;
    padding: 40px;
}

#left-top-right h4 {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

#left-top-right h6 {
    display: none;
}

#left-center {
    grid-column: 1 / 3;
    padding: 40px;
}

#left-center h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5.7vw;
}

#left-center h1:nth-child(2n) {
    text-align: center;
}

#left-bottom {
    grid-column: 1 / 3;
    padding: 40px;
}

#left-bottom p {
    width: 40%;
}

#right {
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 150px;
}

#right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#arrow {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D2422F;
    padding: 20px;
    border-radius: 50%;
}

#arrow i {
    font-size: 40px;
    color: white;
    font-weight: 100;
}


@media (max-width: 600px) {
    #main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8%;
    }

    #left-top-left {
        padding: 20px;
    }

    #square {
        width: 15px;
        height: 15px;
    }

    #left-top-right {
        padding: 20px;
    }

    #left-top-right h4 {
        display: none;
    }

    #left-top-right h5 {
        display: none;
    }

    #left-top-right h6 {
        display: block;
        text-align: right;
    }

    #left-top-right h6 {
        font-size: 20px;
    }

    #left-center {
        padding: 10px 20px;
    }

    #left-center h1 {
        font-size: 15.5vw;
        line-height: 14.5vw;
    }

    #left-center h1:nth-child(2n) {
        text-align: right;
    }

    #left-bottom {
        padding: 0 20px;
    }

    #left-bottom p {
        width: 90%;
        font-size: 12px;
    }

    #arrow {
        top: 54%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    #arrow i {
        font-size: 20px;
    }

    #right {
        grid-column: 1 / 3;
        grid-row: 4;
        padding: 20px;
        padding-right: 20px;
    }

    #right video {
        height: 42vh;
    }
}
