* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, cursive;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background: #D3D6DB;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 28% 55% 17%;
}

#left-top-left {
    grid-column: 1 / 2;
    padding: 40px;
}

#square {
    width: 25px;
    height: 25px;
    background: #000;
    rotate: 45deg;
}

#left-top-right {
    grid-column: 2 / 3;
    justify-items: end;
    padding: 40px;
}

#left-top-right h4 {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

#left-center {
    grid-column: 1 / 3;
    padding: 40px;
}

#left-center h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5.7vw;
}

#left-center h1:nth-child(2n) {
    text-align: center;
}

#left-bottom {
    grid-column: 1 / 3;
    padding: 40px;
}

#left-bottom p {
    width: 40%;
}

#right {
    background: blueviolet;
    grid-column: 3;
    grid-row: 1 / 4;
}